body { 
    padding: 0; margin: 0;
}

form { 
    max-width: 35em; margin: 1em auto;
}

.valign {
    vertical-align: middle;
}

.banner {
    font-family: Arial, sans-serif;
}

.search {
    margin: 20px 0px 20px 0px;
}

.jumbo-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

.banner-text {
    font-family: 'Courier New', Courier, monospace;
    color: lightseagreen;
}

.jumbo-ele {
    margin-right: 30em;
    margin-left: 35em;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}